*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utility */

:root{
    --discount--color: #EB0037;
    --ecology-color: #00875A;
    --price-color: #FF0000;
}

.product{
    width: 340px;
    height: 424px;
    display: inline-block;
    position: relative;
}

img{
    width: 340px;
    height: 424px;
    object-fit: cover;
}

.products{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    
}

.badge{
    display: inline-block;
    color: white;
    padding: 3px;
    position: absolute;
}


/* main */

.info{
    position: absolute;
    z-index: 1000;
}

.discount{
    background-color: var(--discount--color);
    top: 90%;
    left: 0;
}

.ecology{
    display: inline-block;
    background-color: var(--ecology-color);
    top: 90%;
    left: 13%;
}

.like{
    background-color: white;
    color: black;
    padding: 0.75rem;
    position: absolute;
    top: 5%;
    right: 0;
}

.main_img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;
}

.hover_img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
}

.product:hover > .main_img{
    z-index: 700;
}

.description{
    text-align: left;
    position: absolute;
    left: 0;
    top: 100%;
}

.price{
    color: var(--price-color);
}

.old_price{
    text-decoration: line-through;
}